In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10]
0 in my_list

False

In [2]:
my_dict = {"name" : "Joe",
"age" : 10 ,
"city" : "Paris"}

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [4]:
my_dict["name"]

'Joe'

In [5]:
my_dict["new_key"] = "new_value"
print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris', 'new_key': 'new_value'}

In [6]:
del my_dict["new_key"]
print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [7]:
len(my_dict)

3

In [8]:
"name" in my_dict

True

In [9]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [10]:
my_dict.values()

dict_values(['Joe', 10, 'Paris'])

In [13]:
"Paris" in my_dict.values()

True

In [12]:
my_dict.items()

dict_items([('name', 'Joe'), ('age', 10), ('city', 'Paris')])

Consider the following table
name    age     city
Joe     10      Newyork
Abhi    12      London
Stella  16      Paris

In [14]:
my_table = {"name" : ["Joe", "Abhi" , "Stella"] ,
"age" : [10 , 12 , 16] ,
"city" : ["Newyork" , "London" , "Paris"]}

print(my_table)

{'name': ['Joe', 'Abhi', 'Stella'], 'age': [10, 12, 16], 'city': ['Newyork', 'London', 'Paris']}

In [15]:
my_set = {1,2,3,4,5}  #sets contains only unique values
print(my_set)

{1, 2, 3, 4, 5}

In [17]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [22]:
my_set.remove(6)
my_set

{2, 3, 4, 5}

In [23]:
4 in my_set

True

In [24]:
set1 = {1,3,5,6}
set2 = {1,2,3,4}
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [25]:
set1.intersection(set2)

{1, 3}

In [26]:
set1.difference(set2)

{5, 6}

In [27]:
set2.difference(set1)

{2, 4}

In [28]:
set1.issubset(set2)

False

In [29]:
my_list = [1,2,2,3,4,5,6,7,5,6,4,8,9,9]
set(my_list)

{1, 2, 3, 4, 5, 6, 7, 8, 9}