In [1]:
#tuples can hold objects of different data type. Tuples are immutable
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
my_list = [1,2,3,4]
another_tuple = tuple(my_list)
another_tuple

(1, 2, 3, 4)

In [3]:
another_tuple[2]

3

In [4]:
another_tuple[2:4]

(3, 4)

In [8]:
print("Length:", len(another_tuple))
print("Min:",min(another_tuple))
print("Max:",max(another_tuple))
print("Sum:",sum(another_tuple))

Length: 4
Min: 1
Max: 4
Sum: 10

In [9]:
another_tuple.append(1)  #you can't append to a tuple

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
del.another_tuple[1]  #you can't delete from a tuple

SyntaxError: invalid syntax (3600345561.py, line 1)

In [11]:
my_string = "Hello World"
my_string[3]

'l'

In [12]:
my_string[3:]

'lo World'

In [13]:
my_string[::-1]

'dlroW olleH'

In [14]:
len(my_string)

11

In [15]:
my_string.count('l')

3

In [17]:
my_string.lower()

'hello world'

In [18]:
my_string.upper()

'HELLO WORLD'

In [19]:
my_string.title()   #makes the first letter of each word to upper case

'Hello World'

In [21]:
my_string.find('b') #'b' doesn't exist in our string. Hence it returns -1

-1

In [22]:
my_string.replace("World","Friend")

'Hello Friend'

In [23]:
my_string.split()  #splits the string where there is a space between words

['Hello', 'World']

In [25]:
my_string.split("l")

['He', '', 'o Wor', 'd']

In [26]:
multiline_string = """I am
a multiline
string!
"""

multiline_string.splitlines()

['I am', 'a multiline', 'string!']

In [27]:
"               strip white space!     ".strip()

'strip white space!'

In [28]:
"xxxxxxxxxxxstrip unwanted characterxxxxxxxxx".strip("x")

'strip unwanted character'

In [30]:
"Hello" + " World"

'Hello World'

In [33]:
" ".join(["Hello" , "join" , "me"])

'Hello join me'

In [37]:
name = "Vish"
age = 1
city = "Melbourne"
"My name is " + name + ". I am of age " + str(age) + " year. And I live in " + city

'My name is Vish. I am of age 1 year. And I live in Melbourne'

In [39]:
template_string = "My name is {}. I am {} and I live in {}"
template_string.format(name,age,city)

'My name is Vish. I am 1 and I live in Melbourne'

In [40]:
#Formatted strings or f strings
f"My name is {name}. I am {age} and I live in {city}!"

'My name is Vish. I am 1 and I live in Melbourne!'